$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/reset';
$darker-green: rgb(4, 122, 108);
$very-light-green: rgb(186, 218, 212);
$background-green: rgb(17, 150, 134);
body {
    background: $background-green;
    font-family: 'Lato', sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navigation {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding-left: 0;

    .list-group {
        .list-group-item {
            text-align: center;
            height: 38px;
            width: 152px;
            font-size: 19px;
            color: $very-light-green;
            background: transparent;
            border: none;
            border-bottom: 1px solid rgb(39, 156, 141);
            border-radius: 0;
            &.library {
                height: 84px;
                font-weight: 400;
                padding: 30px 0px;
            }
        }
    }
}

/* Main marketing message and sign up button */
.jumbotron {
    background: transparent;
    text-align: center;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
    label {
        font-size: 14px;
    }
}









// can we remove all this?
// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }

//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
    
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }
